*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***HEADER***/
header{
    width: 100%;
    background-color: aqua;
    height: 15vh;
    display: flex;
    align-items: center;
}
#logo{
    flex-grow: 1;
    height: 80%;
    border: 1px solid violet;
}
#menu{
    flex-grow: 3;
    height: 80%;
    border: 1px solid violet;
}
#botao{
    flex-grow: 1;
    height: 80%;
    border: 1px solid violet;
}
/***SECTION BANNER***/
#banner{
    display: flex;
}
#texto{
    height: 40vh;
    flex-grow: 1;
    background-color: aquamarine;
}
#imagem{
    height: 40vh;
    flex-grow: 2;
    background-color: blue;
}
/***SECTION DESTAQUE***/
#destaque{
    display: flex;
}
.cards{
    flex-grow: 1;
    height: 30vh;
    background-color: blueviolet;
    border: 1px solid violet;
}
footer{
    width: 100%;
    background-color: cornflowerblue;
    height: 15vh;
}
/*** MEDIA QUERIES ***/

/***RESOLUÇÃO ATÉ 420PX***/
@media screen and (max-width: 420px) {
    header {
      background-color: lightblue;
      font-size: 14px;
    }
    #logo{
        display: none;
    }
    #texto{
        display: none;
    }
    #destaque{
        display: flex;
        flex-direction: column;
    }
  }
/*SUMIR LOGO, TEXTO SOME, DETALHES UM EMBAIXO DO OUTRO*/

/***RESOLUÇÃO ATÉ 700PX***/
@media screen and (max-width: 700px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }

    /*LOGO FICA EM CIMA 100%*/
    #logo{
        width: 100%;
        text-align: center;
    }

    /*MENU 70% E BOTAO 30%*/
    #menu{
        width: 70%;
    }
    #botao{
        width: 30%;
    }

    /*TEXTO SOBRE IMG*/
    #banner{
        display: flex;
        flex-direction: column;
    }

    /*DESTAQUE EXIBIÇÃO DE 2 PRODUTOS*/
    #destaque{
        flex-wrap: wrap;
    }

    .cards{
        width: 50%;
    }
  }
/*LOGO FICA EM CIMA 100%, MENU 70% E BOTAO 30%,
TEXTO SOBRE IMG, DESTAQUE EXIBIÇÃO DE 2 PRODUROS*/